<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include templates/header.ejs%>

  <h3><%= title %></h3>

  <p>Welcome to <%= name %>'s Website. THis is what we know about him.</p>

  </body>
</html>